

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'TT Rationalist DemiBold';
    src: url('../fonts/TT Rationalist Trial DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu-header {
    z-index: 1;
    position: absolute;
}



.menu-body {
    z-index: 999;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    height: auto;
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 200px;
}

.menu-category {
    padding-right: 45px;
    padding-left: 40px;
}

.card{
    width: 50%; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    display: inline; /* Для центрирования */
    margin: 0 auto; /* Для центрирования */
}

.wrapper {
    padding: 25px;
    margin-bottom: 50px;
}

.inputGroupText{
    background: none
}

.star {
    font-size: 40px;
    cursor: default;
    color: grey;
    border-radius: 50%;
}

.toast{
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
}

.product-info-container {
    margin: 20px 0;
}

.image-container {
    margin: 20px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal{
}

.star-active {
    font-size: 40px;
    cursor: default;
    color: gold;
}

.star-static {
    font-size: 40px;
    cursor: default;
    color: grey;
}

.review-container-boarder {
    border: 0px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255, 0.1);
}

.star-active-static {
    font-size: 40px;
    cursor: default;
    color: gold;
}

.header-button-menu {
    margin-left: 40px;
}

.gallery-page {
    padding-left: 20px;
    margin-left: 20px;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .card {
        flex: 0 0 auto;
    }
}

.small-button {
    padding-left: 5px;
    position: relative;
}


.content {
    display: flex;
}

.product-container {
    flex: 1;
    margin-right: -560px;
}

.counter {
    flex: 1;
    padding-top: 0;
    margin-top: 88px;
    margin-right: 190px;
}

.product-example-counter {
    flex: 1;
    padding-top: 30px;
    margin-top: 145px;
    padding-left: -150px;
    margin-right: 30px;
}

.image-container {
    flex-grow: 1;
    height: 1000px;
    width: 1000px;
    padding-top: 0px;
}

.cart {
    position: relative;
}

.cart-phrase {
    position: absolute;
    top: 34px;
    left: 535px;
    right: 0; /* Здесь вы можете установить желаемое горизонтальное положение */
    margin: 0; /* Сброс внутренних отступов, если они есть */
}

.cart-check-box {
    display: flex;
}

.checkbox-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.checkbox-item {
    display: flex;
    gap: 10px;
}

.cart-item-list {
    margin-left: 20px;
    width: 1040px;
}

.count-list {
    margin-top: -1px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.count-list h4 {
    margin-bottom: 20px;
}

/* CustomCartItem.css */

.custom-cart-item {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item-image img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    margin-top: 10px;
}

.cart-item-name {
    font-size: 16px;
    margin-bottom: 3px; /* Уменьшаем вертикальный отступ */
}

.cart-item-price {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px; /* Уменьшаем вертикальный отступ */
}

.cart-item-quantity {
    font-size: 14px;
    color: #888;
}

.caption {
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
}

.caption-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.caption-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.caption-error {
    background-color: #f2dede;
    color: #a94442;
}

.summary-count {
    margin-top: 0px;
    margin-left: 5px;
    color: #57af7b;
}

.cart-item-image {
    margin-top: 10px;
}

.spinner {
    display: flex;
    justify-content: center;
}

.item-price {
    opacity: 0.6;
}

.cart-data {
    margin-top: 50px;
}

.solo-counter {
    margin-top: 15px;
}

.bPxPvv {
    top: 120px !important;
}

.grey-stripe {
    height: 2px;
    width: 98%;
    background-color: #cdc5c5;
    margin: 7px;
}

.white-stripe {
    height: 2px;
    width: 98%;
    background-color: #ffffff;
    margin: 7px;
}

.reviews-publish-text {
    margin-top: 20px;
}

.reviews-publish-button {
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 30px;
}

.add-review-button {
    margin-top: 35px;
}

